.sidebar {
    &_container {
        position: sticky;
        top: 40px;
    }
    &_user {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;
        img{
            border-radius: 50%;
            object-fit: cover  ;
        }
    }
    &_username {
        font-weight: 500;
    }
    &_userDetail{
        display: flex;
        flex-direction: column;
    }
    &_usertitle {
        font-size: 12px;
        color: var(--textSoft)
    }
    &_list {
        list-style: none;
    }
    &_cat {
        color: var(--textSoft);
        font-weight: bold;
        font-size: 13px;
        margin: 10px 0;
    }
    &_btn {
        padding: 20px;
        margin: 5px 0;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        border-radius: 10px;
        background-color: transparent;
        border: none;
        width: 100%;
        color: white;
    }
    &_btn:hover {
        background: #2e374a;
    }

}